.pawprint{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pawbox{
    display: flex;
    justify-content: center;
    align-content: center;
}

.allbackground{
    background-color: aqua;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.postimage{
    max-width: 500px;
}